<!DOCTYPE html>
<html>
<head>
  <title>RunnersDB</title>
  <meta charset="utf-8">
</head>
<body>
  <h1>Forums</h1>
  <p><%= usermsg%></p>
  <a href="../new_route">New Route</a>
  <h2>Browse routes:</h2>
  <input type="search" id="address" placeholder="Enter a location/address to search for routes" style="width:500px">
  <p id="currSearchLoc">Current Search Location: None</p>
  <p id="search_radius">Search Radius: </p>
  <div id=searchRadiusSelector>
    <p>
      <input type="radio" name="searchRadius" value="5">5 km
      <input type="radio" name="searchRadius" value="10" checked="checked">10 km
      <input type="radio" name="searchRadius" value="25">25 km
      <input type="radio" name="searchRadius" value="50">50 km
    </p>
  </div>
  <br/>
  <p>Distance: 
  	At least: <input type="number" id="min_dist" value="0"> km |
  	At most: <input type="number" id="max_dist" value="9999999999"> km
  </p>
  <br/>
  <p>Elevation: 
  At least: <input type="number" id="min_elev" value="0"> m
  At most: <input type="number" id="max_elev" value="9999999999"> m
  </p>
  <br/>
  <p>Sort By: </p>  
  <div id=browseBySelector>
    <p>
      <input type="radio" name="browseBy" value="old">Oldest
      <input type="radio" name="browseBy" value="new" checked="checked">Newest
      <input type="radio" name="browseBy" value="distance">Distance
      <input type="radio" name="browseBy" value="elevation">Elevation
      <input type="radio" name="browseBy" value="rating">Rating
    </p>
  </div>
  <button onclick="newSearch()">Search</button>
  <ul id="browse_container">

  </ul>
  <button onclick="prevPage()">Previous Page</button>
  <button onclick="nextPage()">Next Page</button>
  <script type="text/javascript" src="../public/js/browse.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXvHQwe44-dcP4-8-b90Ly2ut4LWbb4ug&libraries=places&callback=initialize"></script>
</body>
</html>