<!DOCTYPE html>
<html>
<head>
  <title>RunnersDB</title>
  <link rel="icon" type="image/png" href="../public/img/runner.png">
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../public/css/browse.css">
</head>
<body>
  <h1>Browse</h1>
  <p id="usermsg"><%if (usermsg === 'Sign In') {%>
    <a id="sign_in_link" href='../sign_in'>Sign In</a>
    <% } else {%>
    <%= usermsg %>
    <% } %>
  </p>
  <br/>
  <a id="new_route" href="../new_route">New Route</a>
  <input type="search" id="address" placeholder="Enter a location/address to search for routes" style="width:500px">
  <p id="currSearchLoc">Current Search Location: &nbsp;&nbsp;&nbsp;&nbsp; None</p>
  <p id="searchRadiusSelector">
    Search Radius:
    <input type="radio" name="searchRadius" value="5">5 km
    <input type="radio" name="searchRadius" value="10" checked="checked">10 km
    <input type="radio" name="searchRadius" value="25">25 km
    <input type="radio" name="searchRadius" value="50">50 km
  </p>
  <p id="distance_control">Distance: 
  	<input type="number" id="min_dist" value="0"> to
  	<input type="number" id="max_dist" value="9999999999"> km
  </p>
  <p id="elevation_control">Elevation: 
  <input type="number" id="min_elev" value="0"> to
  <input type="number" id="max_elev" value="9999999999"> m
  </p>
  <p id=browseBySelector>
    Sort By: 
    <input type="radio" name="browseBy" value="old">Oldest
    <input type="radio" name="browseBy" value="new" checked="checked">Newest
    <input type="radio" name="browseBy" value="distance">Distance
    <input type="radio" name="browseBy" value="elevation">Elevation
    <input type="radio" name="browseBy" value="rating">Rating
  </p>
  <button id="search_button" onclick="newSearch()">Search</button>
  <ul id="browse_container">

  </ul>
  <button id="prev_button" onclick="prevPage()" style="display: none">Previous Page</button>
  <button id="next_button" onclick="nextPage()" style="display: none">Next Page</button>
  <script type="text/javascript" src="../public/js/browse.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXvHQwe44-dcP4-8-b90Ly2ut4LWbb4ug&libraries=places&callback=initialize"></script>
</body>
</html>