<!DOCTYPE html>
<html>
<head>
  <title>RunnersDB</title>
  <meta charset="utf-8">
</head>
<body>
  <p><%= actionmsg%></p>
  <h1>Forums</h1>
  <p>
    <%= usermsg%>
  </p>
  <a href="../new_route">New Route</a>
</body>
</html>