<!DOCTYPE html>
<html>
<head>
  <title>RunnersDB</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../public/css/home.css">
</head>
<body>
  <h1 id="welcome">Welcome to RunnersDB!</h1>
  <ul>
    <li><a href="../free_draw">Free Draw Routes</a></li>
    <li><a href="../browse">Browse</a></li>
    <li><a href="../sign_up">New User</a></li>
    <li><a href="../sign_in">Existing User</a></li>
  </ul>
</body>
</html>