<!DOCTYPE html>
<html>
<head>
  <title>RunnersDB</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../public/css/home.css">
</head>
<body>
  <div id="credit"><p>Made by Joe Badlato. Find the source code &nbsp<a id="source_code" href="https://github.com/jbadlato/RunnersDB">here</a></p></div>
  <h1 id="welcome">Welcome to RunnersDB!</h1>
  <ul>
    <li><a href="../free_draw">Free Draw Routes</a></li>
    <li><a href="../browse">Browse</a></li>
    <li><a href="../sign_up">New User</a></li>
    <li><a href="../sign_in">Existing User</a></li>
  </ul>
</body>
</html>