<!DOCTYPE html>
<html>
  <head>
    <title>RunnersDB</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../public/css/draw_route.css">
    <script src="https://www.google.com/jsapi"></script>
  </head>
  <body>
    <h2>Create a New Route</h2>
    <p id="init_path"></p>
    <form action="../new_route" method="post">
      <p>Route Name:<input type="text" name="route_name"></p>
      <p>Rate your route on the following criteria:</p>
      <p>Difficulty: <br/>
      1 <input type="radio" name="difficulty" value="1" required>
      <input type="radio" name="difficulty" value="2">
      <input type="radio" name="difficulty" value="3">
      <input type="radio" name="difficulty" value="4">
      <input type="radio" name="difficulty" value="5"> 5
      <br/>
      Safety: <br/>
      1 <input type="radio" name="safety" value="1" required>
      <input type="radio" name="safety" value="2">
      <input type="radio" name="safety" value="3">
      <input type="radio" name="safety" value="4">
      <input type="radio" name="safety" value="5"> 5
      <br/>
      Scenery: <br/>
      1 <input type="radio" name="scenery" value="1" required>
      <input type="radio" name="scenery" value="2">
      <input type="radio" name="scenery" value="3">
      <input type="radio" name="scenery" value="4">
      <input type="radio" name="scenery" value="5"> 5
      </p>
      <p>Comment/Description: <input type="text" name="comment" value="" required></p>
      <!--Hidden parts of form:-->
      <input id="path" type="text" name="path" value="[]" required>
      <input id="avgLat" type="text" name="avgLat" value="">
      <input id="avgLng" type="text" name="avgLng" value="">
      <input id="dist" type="text" name="dist" value="">
      <input id="elevChange" name="elevChange" type="text" value="">
      <input type="submit" value="Create Route">
    </form>
    <div id="server_message">
      <p><%= msg%></p>
    </div>
    <div id="route_drawer">
      <div id="search_bar">
        <input id="text_input" type="text" placeholder="Jump to a location">
      </div>
      <div id="distance_display">0 km<hr>0 mi</div>
      <div id="undo_button">
        <button onclick="deleteLastMarker()">Undo</button>
      </div>
      <div id="clear_all">
        <button onclick="clearAllMarkers()">Clear Route</button>
      </div>
      <div id="show_elevation">
        <button onclick="showElevation()">Show Elevation</button>
      </div>
      <div id="map">maps error</div>
      <div id="elevation_chart">test</div>
    </div>
    <script type="text/javascript" src="../public/js/draw_route.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXvHQwe44-dcP4-8-b90Ly2ut4LWbb4ug&libraries=places&callback=initialize"></script>
  </body>
</html>