<!DOCTYPE html>
<html>
  <head>
    <title>RunnersDB</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h2>Create an Account</h2>
    <form action="../sign_up" method="post">
      <p>Desired Username:<input type="text" name="username"></p>
      <p>Password:<input type="text" name="password"></p>
      <p>Confirm Password:<input type="text" name="password2"></p>
      <input type="submit" value="Sign Up">
    </form>
    <div id="server_message">
      <p><%= msg%></p>
    </div>
  </body>
</html>