* {
	font-family: Roboto;
}

#route_drawer {
	height: 600px;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

#map {
	height: 100%;
	width: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

button {
	color: #fff;
	background-color: #4d90fe;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 500;
	padding: 5px;
	margin: 10px;
}

#search_bar {
	margin: 10px 10px 0 0;
	border-radius: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
}

#text_input {
	background-color: #fff;
	font-size: 15px;
	font-weight: 300;
	padding: 2px 11px 2px 13px;
	text-overflow: ellipsis;
	width: 400px;
}

#text-input:focus {
	border-color: #4d90fe;
}

#distance_display {
	color: #fff;
	background-color: #4d90fe;
	font-size: 25px;
	font-weight: 500;
	border-radius: 5px;
	padding: 5px;
	margin-left: 10px;
	margin-top: 10px;
}

#elevation_chart {
	width: 70%;
}

#path, #avgLat, #avgLng, #dist, #elevChange, #init_path, #init_lat, #init_lng {
	display: none;
}