* {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #DDD;
	padding: 0 50px;
}

form, #input_labels {
	display: inline-block;
	margin: 10px;
	float: left;
	padding: 0;
}

input {
	margin: 5px;
}

p {
	margin: 11px;
}

#server_message {
	display: inline-block;
	float: top;
	color: #500;
}